.App {
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

table {
  border-collapse: collapse;
  display: block;
  margin: 50px auto;
  max-width: 393px;
  border: 1px solid black;
}

.table-cell {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
  width: 110px;
  height: 39px;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 393px;
}
.textarea {
  width: 393px;
  height: 110px;
  overflow-y: hidden;
  resize: none;
}
