.App {
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

input {
  margin-bottom: 18px;
  margin-left: 8px;
}

button,
input[type='submit'] {
  border: 1px solid black;
  background-color: aliceblue;
  height: 33px;
}

form {
  max-width: 530px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  margin: 50px auto;
  max-width: 530px;
  border: 1px solid black;
}
.table-cell {
  border-bottom: 1px solid black;
  padding: 10px;
  width: 110px;
  height: 39px;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 530px;
}
.textarea {
  width: 530px;
  height: 80px;
  overflow-y: hidden;
  resize: none;
}
