.App {
  text-align: center;
  width: 550px;
  margin: 0 auto;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

input {
  margin-bottom: 18px;
  margin-left: 8px;
}

form {
  margin: 0 auto;
}

.policies__table-body {
  border-collapse: collapse;
  margin: 0px auto;
  border: 1px solid black;
}

th {
  background-color: aliceblue;
}
.policies__table-cell {
  border-bottom: 1px solid black;
  padding: 10px;
}

.policies__calculations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.policies__calculations-risks {
  width: 100%;
  height: 80px;
  overflow-y: hidden;
  resize: none;
}
.button {
  border: 1px solid black;
  background-color: aliceblue;
  padding: 13px;
  border-radius: 3px;
}
.policies__calculations-duration {
  margin-top: 15px;
  margin-bottom: 0px;
  width: 100%;
}
